.header {
    height: 80px;
    background-color: darkseagreen;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 140px;
    padding-right: 140px;
}

.header img {
    width: 80px;
}

.header a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 17px;
    margin-left: 36px;
}

.header a:hover {
    color: orange;
}

@media only screen and (max-width:576px) {
    .header {
        display: none;
    }
}

@media only screen and (min-width: 577px) and (max-width: 992px) {
    .header {
        display: none;
    }
}